h1 {
	color: indigo;
	font-family: arial;
	font-size: 40px;
}
p {
	color: blue;
	font-family: arial;
	font-size: 25px;
}
h2 {
	color: indigo;
	font-family: arial;
}
li {
	color: blue;
	font-family: arial;
}